input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}

.card{
    border: none;
}

#chartdiv {
    width: 100%;
    height: 450px;
  }

#chartdiv-gantt {
width: 100%;
height: 450px;
}

.inputParts{
    text-align: center;
}
  
#btn-parts, .btn-add-parts{
    width: 148px
}

.textoAlertMemory {
   max-width: 511px;
}
